@import "tailwindcss";

:root {
  --primary: #A42CD6;
  --primary-hover: #9600D4;
  --accent: #FF6978;
  --accent-hover: #ff5b6b;

  --bg-dark: #150423;
  --bg-darker: #140F14;
  --bg-light: #220E2C;
  --bg-card: #220E2C;
  --bg-tech-pill: #282328;

  --dimmed: #D9D9D9;
  --title: #E7E7E7;
}